@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
#sidebar {
    @apply transition-all duration-300 ease-in-out;
}

#sidebar.scrolled {
    @apply bg-slate-900 border-r-indigo-400 shadow-lg;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full border-2 border-slate-900;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
}
