@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
#sidebar {
    @apply transition-all duration-300 ease-in-out;
    /* Apply transition to all properties */
    /* Add transition for smooth effect */
}

#sidebar.scrolled {
    @apply bg-slate-900 border-r-indigo-400 shadow-lg;
    /* Reverted to @apply with intended styles */
    /* Darker background, brighter border, and shadow when scrolled */
    /* Optionally add other styles like increased border opacity or shadow */
    /* Optionally add other styles like increased border opacity or shadow */
    /* @apply shadow-md; */
}

@layer utilities {
    .body-sticky-footer {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .main-flex-grow {
        flex-grow: 1;
    }
}