@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        height: 100%;
    }
    body {
        min-height: 100%;
    }
    .blog-body {
        display: flex;
        flex-direction: column;
    }
    .blog-main {
        flex-grow: 1;
    }
}

/* Custom styles */
#sidebar {
    @apply transition-all duration-300 ease-in-out;
    /* Apply transition to all properties */
    /* Add transition for smooth effect */
}

#sidebar.scrolled {
    @apply bg-slate-900 border-r-indigo-400 shadow-lg;
    /* Reverted to @apply with intended styles */
    /* Darker background, brighter border, and shadow when scrolled */
    /* Optionally add other styles like increased border opacity or shadow */
    /* Optionally add other styles like increased border opacity or shadow */
    /* @apply shadow-md; */
}

@layer utilities {
    .body-sticky-footer {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    .main-flex-grow {
      flex-grow: 1;
    }
    .blog-link-container {
        @apply rounded-lg p-4 transition-all duration-300 ease-in-out;
        background: linear-gradient(to top, rgba(15, 23, 42, 0.7), transparent);
    }
    .blog-link-container:hover {
        background: linear-gradient(to top, #312e81, rgba(49, 46, 129, 0.5)); /* indigo-900 to semi-transparent */
    }
}